beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.5.6
botocore==1.8.20
dj-database-url==0.4.2
Django==1.11.8
django-crispy-forms==1.7.0
django-htmlmin==0.10.0
django-storages==1.6.5
docutils==0.14
gunicorn==19.7.1
html5lib==1.0.1
jmespath==0.9.3
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.2
python-dateutil==2.6.1
pytz==2017.3
s3transfer==0.1.12
six==1.11.0
webencodings==0.5.1
