{% extends "professeurs/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Tableau de bord de {{request.user.username}}
{% endblock %}

{% block base_head %}
<link rel='stylesheet' href="{% static 'css/main.css' %}" >
<link rel='stylesheet' href="{% static 'css/dashboard.css' %}" >


<link rel='stylesheet' href="{% static 'css/welcome.css' %}" >
<link rel='stylesheet' href="{% static 'css/fondateurs-style.css' %}" />

{% endblock %}

{% block content %}
  <div class="row ">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8">
      <div class='dashboard-title text-center'>
          <h1>Tableau de bord</h1>

          <div class="custom-row row">
            <div class="custom-card panel-form col-xs-12 col-md-6 col-lg-4">
              <h2>Mes blocus</h2>
              <table class="table text-left">
                <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Mon C.A</th>
                  </tr>
                </thead>
                <tbody>
                  {% for profblocus in professeur.professeurblocus_set.all %}
                  <tr {% if profblocus.blocus.is_current %}class="success"{% endif %}>
                    <td><a href="{% url 'detail-blocus' pk=profblocus.blocus.pk %}">{{ profblocus.blocus.nom }}</a></td>
                    <td>{% if profblocus.blocus.is_current %}Actuel{% else %}Archivé{% endif %}</a></td>
                    <td>{{profblocus.total}} &euro;</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="custom-card panel-form col-xs-12 col-md-6 col-lg-4">
              <h2>Les cours particuliers</h2>
            </div>
          </div>

          <div class="custom-row row">
            <div class="custom-card panel-form col-xs-12 col-md-6 col-lg-4">
              <h2>Mon profil</h2>
              <ul class="text-left">
                <li><a href="{% url 'modifier-profil-prof' %}">Modifier mon profil</a></li>
                <li><a href="{% url 'voir-profil-prof' pk=request.user.professeur.pk %}">Voir mon profil</a></li>
              </ul>
            </div>

            <div class="custom-card panel-form col-xs-12 col-md-6 col-lg-4">
              <h2>Mes statistiques</h2>
            </div>
          </div>


      </div>
    </div>
  </div>

{% endblock %}
