{% extends "professeurs/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Profil de {{request.user.username}}
{% endblock %}

{% block base_head %}
<link rel='stylesheet' href="{% static 'css/main.css' %}" >
<link rel='stylesheet' href="{% static 'css/dashboard.css' %}" >
<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">

  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-xs-12 col-md-6">
      <div class='text-center'>
          <h1 class="dashboard-title">Voir mon profil ({{ professeur.prenom }})</h1>
          <table class="table">
            <tr>
              <td>Nom</td>
              <td>{{ professeur.nom }}</td>
            </tr>
            <tr>
              <td>Prénom</td>
              <td>{{ professeur.prenom }}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{ professeur.email }}</td>
            </tr>
            <tr>
              <td>Gsm</td>
              <td>{{ professeur.gsm }}</td>
            </tr>
            <tr>
              <td>Université</td>
              <td>{{ professeur.universite }}</td>
            </tr>
          </table>
          <a href="{% url 'modifier-profil-prof' %}">Modifier mon profil</a><br>
          <a href="{% url 'tableau-de-bord-professeurs' %}">Retour à mon dashboard</a>
      </div>
    </div>
  </div>

{% endblock %}
