{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Modification du profil
{% endblock %}

{% block base_head %}
<link rel='stylesheet' href="{% static 'css/main.css' %}" >

<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">

  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-xs-12 col-md-6">
      <div class='text-center'>
          <h1>Modifier mon profil</h1>
          <form class="." id="signup_form" method="post" action="">
            {% csrf_token %}
            {% crispy form %}
          </form>
      </div>
    </div>
  </div>

{% endblock %}


<script type="text/javascript">

{% block javascript %}
function display_facultes(){
  if ($('select[name=universite]').val()=="") {
    $('#div_id_faculte').hide()
  }
  else {
        universite_id = $('select[name=universite]').val();
        request_url = '/get_facultes/' + universite_id + '/';
        $.ajax({
              url: request_url,
              success: function(json){
                $('#id_faculte >option').remove();
                for(var j = 0; j < json.length; j++){
                      $('#id_faculte').append($('<option></option>').val(json[j][0]).html(json[j][1]));
                }
              }
        })
        $('#div_id_faculte').show()
  }
}

function display_etudes() {
  if ($('select[name=faculte]').val()=="") {
    $('#div_id_etude').hide()
  }
  else {
        faculte_id = $('select[name=faculte]').val();
        request_url = '/get_etudes/' + faculte_id + '/';
        $.ajax({
              url: request_url,
              success: function(json){
                $('#id_etude >option').remove();
                for(var j = 0; j < json.length; j++){
                      $('#id_etude').append($('<option></option>').val(json[j][0]).html(json[j][1]));
                }
              }
        })
        $('#div_id_etude').show()
  }

}


$(document).ready(function(){
  $('select[name=universite]').change(function() {
    display_facultes()
  })
  $('select[name=faculte]').change(function() {
    display_etudes()
  })

  display_facultes()
  display_etudes()
});
{% endblock %}
</script>
