{% extends "base.html" %}
{% load static %}

{% block title %}
Cours particuliers
{% endblock %}

{% block base_head %}

<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">

  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->
<link href="{% static 'css/welcome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}



    <!-- HERO SECTION  -->
    <section class="hero-unit-slider slider-responsive">
      <div id="carousel-hero" class="slick-carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{% static 'img/sliders/slider1-h500.png' %}" class="img-responsive" alt="Slider Image">
            <div class="carousel-caption">
              <h2 class="hero-heading">Suivi intensif</h2>
              <p class="lead">Giving valuable reputation and credibility to your business</p>
              <a href="#" class="btn btn-lg hero-button">EN SAVOIR +</a>
              <a href="{% url 'inscription-suivi-intensif' %}" class="btn btn-lg hero-button">INSCRIPTION</a>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'img/sliders/slider2-h500.png' %}" class="img-responsive" alt="Slider Image">
            <div class="carousel-caption">
              <h2 class="hero-heading">ULTRA RESPONSIVE</h2>
              <p class="lead">Leave it to the theme, it knows how to deal with screen sizes</p>
              <a href="#" class="btn btn-lg hero-button">LEARN MORE</a>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'img/sliders/slider3-h500.png' %}" class="img-responsive" alt="Slider Image">
            <div class="carousel-caption">
              <h2 class="hero-heading">EASY TO CUSTOMIZE</h2>
              <p class="lead">Readable code, well documented and FREE support</p>
              <a href="#" class="btn btn-lg hero-button">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- LATEST NEWS -->
    <section>
      <div class="container">
        <h2 class="section-heading">Tout savoir sur notre méthode</h2>
        <div class="row">
          <div class="col-md-6">
            <img src="{% static 'img/business-people.png' %}" width=100% alt="">
          </div>
          <div class="col-md-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolorem explicabo temporibus, iste aperiam voluptas minus non tempore porro consequuntur obcaecati eius nesciunt necessitatibus perferendis culpa. Unde suscipit error voluptatum dolorem debitis. Eveniet, ratione accusamus vel, soluta, aliquid iure <br>
              <a href="">Lire notre article "Qu'est ce que le suivi intensif"</a>
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolorem explicabo temporibus, iste aperiam voluptas minus non tempore porro consequuntur obcaecati eius nesciunt necessitatibus perferendis culpa. Unde suscipit error voluptatum dolorem debitis. Eveniet, ratione accusamus vel, soluta, aliquid iure <br>
              <a href="">Lire notre article "Le coaching idéal"</a>
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolorem explicabo temporibus, iste aperiam voluptas minus non tempore porro consequuntur obcaecati eius nesciunt necessitatibus perferendis culpa. Unde suscipit error voluptatum dolorem debitis. Eveniet, ratione accusamus vel, soluta, aliquid iure <br>
              <a href="">Lire notre article "Coaching ou cours particulier"</a>
            </p>

          </div>
        </div>
      </div>
    </section>
    <!-- END LATEST NEWS -->


    <!-- RECENT WORKS -->
    <section class="light-gray">
      <div class="container">
        <h2 class="section-heading pull-left">Informations pratiques</h2>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <h3>Organisation</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, praesentium.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet. </li>
              <li>Lorem ipsum dolor sit amet. </li>
              <li>Lorem ipsum dolor sit amet. </li>
            </ul>
            <button type="button" class="btn btn-primary btn-space">Inscription</button>
            <button type="button" class="btn btn-primary m-5">Me faire contacter</button>
          </div>
          <div class="col-xs-12 col-md-6">
            <h3>Tarif</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quae error, provident ut amet minus.</p>
            <h3>Horaires</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quae error, provident ut amet minus.</p>
            <h3>Lieux</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat quae error, provident ut amet minus.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END RECENT WORKS -->


    <!-- OUR CLIENTS -->
    <section class="clients">
      <div class="container">
        <h2 class="section-heading">Ils parlent de nous...</h2>
        <div class="col-xs-12">
          <div class="custom-card">
            <h3 class="custom-card-header">Témoignages - suivi intensif</h3>
            <section class="testimonial testimonial-fancy slick-carousel padding-slick-caroussel">
              <div class="testimonial-container">
                <div class="testimonial-body">
                  <i class="fa fa-quote-left"></i>
                  <p class="testimonial-bubble">Credibly extend parallel relationships after clicks-and-mortar content. Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
                  <div class="testimonial-author">
                    <img src="{% static 'img/business-people.png' %}" alt="Author" class="pull-left">
                    <span><span class="author-name">Antonius</span> <em>CEO of TheCompany</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <i class="fa fa-quote-left"></i>
                  <p class="testimonial-bubble">Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
                  <div class="testimonial-author">
                    <img src="{% static 'img/business-people.png' %}" alt="Author" class="pull-left">
                    <span><span class="author-name">Michael</span> <em>General Manager of DreamCorp</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <i class="fa fa-quote-left"></i>
                  <p class="testimonial-bubble">Appropriately morph low-risk high-yield process improvements through progressive partnerships. Uniquely brand enabled. Globally network timely imperatives without plug-and-play schemas. Globally coordinate economically sound interfaces.</p>
                  <div class="testimonial-author">
                    <img src="{% static 'img/business-people.png' %}" alt="Author" class="pull-left">
                    <span><span class="author-name">Palmer</span> <em>Freelance Web Developer</em></span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <!-- END OUR CLIENTS -->
    <!-- CALL-TO-ACTION -->
    <section class="light-gray">
      <div class="container">
        <h2 class="section-heading">Actualités du blog...</h2>
        <div class=" row blog-article flex-box">
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
        </div>
        <div class=" row blog-article no-border-top flex-box">
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
        </div>
        <div class=" row blog-article no-border-top  flex-box">
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
        </div>
      </div>
    </section>
    <!-- END CALL-TO-ACTION -->


{% endblock %}

