{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Détail du blocus {{ blocus.nom }}
{% endblock %}

{% block base_head %}
<link rel='stylesheet' href="{% static 'css/main.css' %}" >

<link rel='stylesheet' href="{% static 'css/welcome.css' %}" >
<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">
  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->

{% endblock %}

{% block content %}
  <div class="light-gray">
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left">Détail du blocus - {{ blocus.nom }}</h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'accueil-prof' %}"">Accueil Professeur</a></li>
          <li><a href="{% url 'tableau-de-bord-professeurs' %}">Mon dashboard</a></li>
          <li class="active">Blocus Assisté</li>
        </ol>
      </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- PAGE CONTENT -->
    <div class="page-content light-gray">
      <div class="container">
        <section">

<!-- Tabs -->
<ul class="nav nav-tabs">
  <li class="col-md-3"><a id="1" href="#">Les étudiants</a></li>
  <li class="col-md-3 active"><a id="2" href="#">Feuille de présences</a></li>
  <li class="col-md-3"><a id="3" href="#">Mes prestations</a></li>
  <li class="col-md-3"><a id="4" href="#">To do list</a></li>
</ul>


<!-- Accordions -->
<!-- CONTENT 1 -->
<div class="tabContent" id="tabContent1">
          <div class="col-xs-12 col-md-3">
            <form class="." id="" method="get" action="">
              {% crispy form %}
            </form>
          </div>


          <table class="table">
            <thead>
            <tr>
              <th>Etudiants</th>
              <th>Planning</th>
              <th>Campus</th>
              <th>Modules</th>
              <th>Ajouter</th>
            </tr>
            </thead>
            {% for inscription in inscriptions %}
              <tr class="studentInfo" id="student_{{inscription.etudiant.id}}">
                <td><a href="{% url 'voir-profil-etudiant-for-prof' pk=inscription.etudiant.pk %}">{{ inscription.etudiant.prenom }} {{ inscription.etudiant.nom }}</a></td>
                <td>{% if inscription.etudiant.has_planning %}do something{% else %}pas de planning{% endif %}</td>
                <td>{{ inscription.campus }}</td>
                <td>
                  {% for m in blocus.moduleblocus_set.all %}
                    {% if m in inscription.module.all %}
                      <a href="#" data-toggle="tooltip" title="{{ m }}"><i class="fa fa-circle" aria-hidden="true"></i></a>
                    {% else %}
                      <a href="#" data-toggle="tooltip" title="{{ m }}"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
                    {% endif %}
                  {% endfor %}
                </td>
                <td><a href="{% url 'ajouter-etudiant-blocus' %}?etudiant={{ inscription.etudiant.id }}" class="btn btn-primary">+ Ajouter module</a></td>
              </tr>
            {% endfor %}
          </table>
</div>
<!-- CONTENT 2 -->
<div class="tabContent" id="tabContent2">
          <table class="table">
            <tr>
              <td>Campus</td>
              <td>Modules</td>
            </tr>
            {% for campus in campus_for_this_prof %}
            <tr>
              <td>{{ campus }}</td>
              <td>
                <table class="table">
                  {% for mod in blocus.moduleblocus_set.all %}
                  <tr class="{% if mod.date_debut <= today and mod.date_fin >= today %}success{% endif %}">
                    <td>{{ mod }}</td>
                    <td>{% if mod.date_debut == today %}<a href="{% url 'display-list-student' pk_campus=campus.pk pk_module=mod.pk %}">First day</a>{% elif mod.date_fin == today or 1 == 1 %} <a class="btn btn-danger" href="{% url 'enquete-satisfaction-blocus' pk_campus=campus.pk pk_module=mod.pk %}">Enquête satisfaction</a>{% endif %}</td>
                    <td><a href="{% url 'cocher-presence'   pk_campus=campus.pk pk_module=mod.pk %}">Présences</a></td>
                    <td><a href="{% url 'grille-suivi-etudiants'   pk_campus=campus.pk pk_module=mod.pk %}">suivi étudiant</a></td>
                  </tr>
                  {% endfor %}
                </table>
              </td>
            </tr>
            {% endfor %}
          </table>

</div>
<!-- CONTENT 3 -->
<div class="tabContent" id="tabContent3">
          <a href="{% url 'encoder-journee-blocus' %}" class="btn btn-primary btn-lg">+ Encoder journee blocus</a>
          <table class="table">
            <thead>
              <tr>
                <th>Heure début - fin</th>
                <th>Date</th>
                <th>Campus</th>
                <th>Payé?</th>
                <th>Montant</th>
                <th>Modif/Suppr</th>
              </tr>
            </thead>
            <tbody>
              {% for j in journees_blocus%}
              <tr>
                <td>{{ j.heure_debut|time:'H:i' }} - {{ j.heure_fin|time:'H:i' }}</td>
                <td>{{ j.date }}</td>
                <td>{{ j.campus }}</td>
                <td>{% if j.is_paid %}Oui{% else %}Non{% endif %}</td>
                <td>{{ j.total }} &euro;</td>
                <td><a href="{% url 'modifier-journee-blocus' pk=j.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> / <a href="{% url 'supprimer-journee-blocus' pk=j.pk %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></th>
              </tr>
              {% endfor %}
              <tr>
                <td><b>TOTAL</b></td>
                <td colspan="3"></td>
                <td>{{ prof_blocus.total }} &euro;</td>
                <td></td>
              </tr>
            </tbody>
          </table>
</div>
<!-- CONTENT 4 -->
<div class="tabContent" id="tabContent4">
  <table class="table">
    <thead>
      <th>Quand ?</th>
      <th>Quoi ?</th>
      <th>Avec qui ?</th>
    </thead>
    <tbody>
      <tr>
        <td>Lundi & Samedi avant de commencer</td>
        <td><ul><li>Compléter le profil (>90%)</li><li>Souhaite un suivi? Oui/Non</li><li>Fixer objectif du jour (optionnel)</li></ul></td>
        <td>Tous les étudiants</td>
      </tr>
      <tr>
        <td>A 9h</td>
        <td>Imprimer feuille des présences et la faire passer entre les étudiants</td>
        <td>Tous les étudiants</td>
      </tr>
      <tr>
        <td>Après 9h</td>
        <td>Appeler les absents</td>
        <td>Les étudiants qui ne sont pas encore arrivés</td>
      </tr>
      <tr>
        <td>A 10h</td>
        <td>cocher les présences via le tableau de bord en laissant éventuellement un commentaire (via ">>Détail")</td>
        <td>Pour tous les étudiants, qu'ils soient "Présent, Absent, En retard ou Absent justifié"</td>
      </tr>
      <tr>
        <td>A partir de 17.00</td>
        <td><ul><li>faire le point avec les étudiants qui souhaitaient un suivi</li><li>fixer les objectifs du lendemain</li></ul></td>
        <td>Les étudiants ayant fait la demande d'être suivis durant le blocus</td>
      </tr>
    </tbody>
  </table>
</div>

        </section>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});

$('#tabContent1').hide();
$('#tabContent2').show();
$('#tabContent3').hide();
$('#tabContent4').hide();
$('.nav a').click(function (e) {
    $(this).tab('show');
  var tabContent = '#tabContent' + this.id;
  $('#tabContent1').hide();
  $('#tabContent2').hide();
  $('#tabContent3').hide();
  $('#tabContent4').hide();
  $(tabContent).show();
})



function searchStudent(searchInput){
            request_url = '/blocus-assistes/get_students_list/' + searchInput + '/';
            $.ajax({
                  url: request_url,
                  success: function(json){
                    $('.studentInfo').hide()
                    for(var j = 0; j < json.length; j++){
                      $('#student_'+parseInt(json[j][0])).show()
                      }
                  }
            })
}

$(document).ready(function(){
  $('#id_search').on('input', function() {
    var searchInput = $(this).val();
    if (searchInput != '' && searchInput != ' '){
      searchStudent(searchInput);
    } else {
      $('.studentInfo').show()
    }
  });
});


</script>

{% endblock %}
