{% extends "base.html" %}

{% load static %}
{% block title %}A propos{% endblock %}

{% block content %}

    <!-- BREADCRUMBS -->
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left">A propos</h1>
        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><a href="#">Pages</a></li>
          <li class="active">A propos</li>
        </ol>
      </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
        <section>
          <div class="row">
            <div class="col-md-6">
              <p>Completely monetize cooperative alignments vis-a-vis empowered leadership skills. Assertively empower maintainable intellectual capital with extensive total linkage. Enthusiastically synthesize bleeding-edge intellectual capital after market-driven initiatives. Enthusiastically enhance turnkey architectures before backward-compatible deliverables. Collaboratively drive virtual solutions vis-a-vis multimedia based data. Dynamically transition emerging leadership skills after long-term high-impact human capital. Competently reintermediate 24/365 quality vectors rather than sticky bandwidth. Authoritatively.</p>
              <p>Professionally facilitate orthogonal leadership whereas customer directed testing procedures. Credibly incubate ubiquitous human capital without efficient expertise. Intrinsicly optimize ubiquitous web-readiness through standards compliant metrics. Intrinsicly drive ethical technologies whereas installed base interfaces. Credibly expedite backward-compatible e-markets before viral opportunities.</p>
            </div>
            <div class="col-md-6">
              <div class="featured-video">
                <iframe width="100%" height="300px" src="https://www.youtube.com/embed/E3jrQRY6orI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <h2 class="section-heading">NOTRE MISSION</h2>
          <p class="lead"><span class="dropcap dropcap-big">P</span>hosfluorescently predominate stand-alone strategic theme areas with resource maximizing resources. Professionally transform end-to-end catalysts for change via impactful e-services.</p>
          <br>
          <h2 class="section-heading">NOTRE VISION</h2>
          <p class="lead"><span class="dropcap dropcap-big">D</span>istinctively predominate front-end total linkage via user. Professionally synthesize sustainable growth strategies before bricks-and-clicks functionalities. Holisticly synthesize unique intellectual capital whereas ubiquitous users.</p>
          <hr>
        </section>
        <h2 class="section-heading">RENCONTRER NOTRE EQUIPE</h2>
        <!-- TEAM -->
        <section class="team">
          <div class="section-content">
            <div class="col-md-5">
              <div class="team-member media">
                <img src="{% static 'img/business-people.png' %}" class="media-object img-circle pull-left" alt="" />
                <div class="media-body">
                  <h3 class="media-heading team-name">Michael Summer</h3>
                  <strong>Executive Director</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                  <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
              <div class="team-member media">
                <img src="{% static 'img/business-people.png' %}" class="media-object img-circle pull-left" alt="" />
                <div class="media-body">
                  <h3 class="media-heading team-name">Jane Doe</h3>
                  <strong>Art Director</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                  <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="team-member media">
                <img src="{% static 'img/business-people.png' %}" class="media-object img-circle pull-left" alt="" />
                <div class="media-body">
                  <h3 class="media-heading team-name">Cindy Marry</h3>
                  <strong>UI Designer</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                  <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
              <div class="team-member media">
                <img src="assets/img/team/person4.png" class="media-object img-circle pull-left" alt="" />
                <div class="media-body">
                  <h3 class="media-heading team-name">Phillips Abraham</h3>
                  <strong>Front-end Developer</strong>
                  <hr class="pull-left">
                  <div class="clearfix"></div>
                  <p>Dynamically evolve client-based portals through world-class models. Phosfluorescently simplify cross-platform convergence and multimedia based portals. Rapidiously.</p>
                  <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END TEAM -->

      </div>
    </div>
{% endblock %}
