{% load static %}
<!DOCTYPE html>
    <html lang="fr">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Blocus Assistance - {% block title %}{% endblock %}</title>
        {% include 'base/css.html' %}
        {% include 'base/font.html' %}
        {% include 'base/favicon.html' %}

        {% block base_head %}{% endblock %}
    </head>
    <body>
      <div class="wrapper">
        {% block navbar %}
          {% include 'base/navbar.html' with brand_name='Blocus Assistance' %}
        {% endblock %}

        {% include 'alert.html' %}
        {% block content %}{% endblock %}

        {% block footer %}
          {% include 'base/footer.html' %}
        {% endblock %}

      </div>
        {% include 'base/js.html' %}

        {% block script %}{% endblock %}
        <script>
            $(document).ready(function(){
                showFlashMessage()
            });
        </script>

        {% block javascript %}
        {% endblock %}

        <script>
          $(document).ready(function(){
            {% block jquery %}
            {% endblock %}
          });
        </script>

    </body>
  </html>
