{% extends "base.html" %}

{% load static %}

{% block title %}
Contact
{% endblock %}

{% block content %}


    <!-- HERO UNIT -->
    <section class="hero-unit-slider no-margin">
      <div id="carousel-hero" class="slick-carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="{% static 'img/sliders/slider3-h500.png' %}" alt="Slider Image">
            <div class="carousel-caption">
              <h2 class="hero-heading">CLEAN &amp; ELEGANT DESIGN</h2>
              <p class="lead">Giving valuable reputation and credibility to your business</p>
              <a href="#" class="btn btn-lg hero-button">LEARN MORE</a>
            </div>
          </div>
          <div class="item">
            <img src="assets/img/sliders/slider2-h500.png" alt="Slider Image">
            <div class="carousel-caption">
              <h2 class="hero-heading">ULTRA RESPONSIVE</h2>
              <p class="lead">Leave it to the theme, it knows how to deal with screen sizes</p>
              <a href="#" class="btn btn-lg hero-button">LEARN MORE</a>
            </div>
          </div>
          <div class="item">
            <img src="assets/img/sliders/slider1-h500.png" alt="Slider Image">
            <div class="carousel-caption">
              <h2 class="hero-heading">EASY TO CUSTOMIZE</h2>
              <p class="lead">Readable code, well documented and FREE support</p>
              <a href="#" class="btn btn-lg hero-button">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END HERO UNIT -->
    <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="section-heading">NAVIGATION MENU TYPES</h2>
            <div class="list-group">
              <a href="#" class="list-group-item">Fixed Top</a>
              <a href="feature-nav-auto-hiding.html" class="list-group-item">Auto Hiding</a>
              <a href="feature-nav-fixed-shrink.html" class="list-group-item">Fixed and Shrink</a>
              <a href="feature-nav-fixed-fullscreen-slider.html" class="list-group-item">Fixed Top (on fullscreen slider)</a>
              <a href="feature-nav-auto-hiding-fullscreen-slider.html" class="list-group-item">Auto Hiding (on fullscreen slider)</a>
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="section-heading">HEADER AND NAVIGATION STYLES</h2>
            <div class="list-group">
              <a href="feature-nav-minimal-header.html" class="list-group-item">Minimal Header</a>
              <a href="feature-nav-header-top-bar.html" class="list-group-item">Header with Top Bar</a>
              <a href="feature-nav-header-dark.html" class="list-group-item">Dark Header and Navigation Menu</a>
              <a href="feature-nav-minimal-header-dark.html" class="list-group-item">Dark Minimal Header</a>
              <a href="feature-hero-unit-fullscreen-image.html" class="list-group-item">Transparent Header</a>
            </div>
          </div>
        </div>
        <hr>
        <h2 class="section-heading">DUMMY CONTENT</h2>
        <div class="row">
          <div class="col-md-6">
            <p>Completely monetize cooperative alignments vis-a-vis empowered leadership skills. Assertively empower maintainable intellectual capital with extensive total linkage. Enthusiastically synthesize bleeding-edge intellectual capital after market-driven initiatives. Enthusiastically enhance turnkey architectures before backward-compatible deliverables. Collaboratively drive virtual solutions vis-a-vis multimedia based data. Dynamically transition emerging leadership skills after long-term high-impact human capital. Competently reintermediate 24/365 quality vectors rather than sticky bandwidth. Authoritatively.</p>
            <p>Professionally facilitate orthogonal leadership whereas customer directed testing procedures. Credibly incubate ubiquitous human capital without efficient expertise. Intrinsicly optimize ubiquitous web-readiness through standards compliant metrics. Intrinsicly drive ethical technologies whereas installed base interfaces. Credibly expedite backward-compatible e-markets before viral opportunities.</p>
          </div>
          <div class="col-md-6">
            <p>Quickly embrace mission-critical action items vis-a-vis backend infomediaries. Globally recaptiualize maintainable infomediaries via client-centered e-tailers. Objectively maximize prospective relationships and highly efficient applications. Intrinsicly coordinate quality "outside the box" thinking vis-a-vis collaborative web-readiness. Monotonectally coordinate distinctive results rather than wireless collaboration and idea-sharing.</p>
            <p>Intrinsicly productize 2.0 total linkage with interdependent e-services. Monotonectally incubate fully researched manufactured products before cutting-edge solutions. Dramatically reinvent long-term high-impact strategic theme areas for timely paradigms. Professionally engage unique potentialities rather than end-to-end communities. Continually scale go forward catalysts for change without 24/7 manufactured products. Intrinsicly utilize just in time human capital via 24/7 processes. Synergistically predominate turnkey ideas after progressive intellectual capital. Progressively extend user-centric supply chains.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE CONTENT -->



{% endblock %}


{% block title %}Contact{% endblock %}
{% block content %}
<div class='row'>
<div class='col text-center'>


<h1>Contact</h1>

</div>
</div>
{% endblock %}


