{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">

  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->
<link href="{% static 'css/welcome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}



    <!-- HERO SECTION  -->
    <section class="welcome-header">
      <div class="overlay"></div>
      <div class="flex-box">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <h2 class="hero-heading">Blocus Assistance</h2>
              <p class="lead">Besoin d'aide pour démarrer efficacement ton deuxième quadrimestre ?<br> Nous te proposons des solutions sur mesure pour t'aider à préparer tes examens</p>
              <span class=""><a href="#about" class="btn btn-lg hero-button">En savoir plus</a></span>
            </div>
            <div class="col-xs-12 col-md-5 form-welcome-page">
              <h2>Besoin d'informations?</h2>
              <form class="." id="signup_form" method="post" action="">
                {% csrf_token %}
                {% crispy form %}
              </form>
            </div>
          </div>
        </div>

        <div class="col-xs-12 down-arrow">
          <a href="#about"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </section>


    <!-- END HERO SECTION -->
    <!-- INTRO -->
    <section>
      <div class="container">
        <div class="multiple-pricing-table">
          <div class="row flex">
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-bicycle plan-icon"></i>
                <h4>Cours particulier</h4>
                <ul class="list-unstyled plan-detail-list">
                  <p>Un professeur te réexplique la matière et réalise, avec toi, des exercices en détaillant les méthodes de résolutions afin que tu assimiles parfaitement la matière. Le cours va à ton rythme et se concentre sur tes difficultés. C’est la solution si tu es bloqué sur une ou plusieurs parties de ton cours.</p>
                </ul>
                <a href="{% url 'accueil-cours-particuliers' %}" class="btn btn-primary btn-space">En savoir plus</a>
                <a href="{% url 'accueil-cours-particuliers' %}" class="btn btn-primary m-5">Inscription</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-car plan-icon"></i>
                <h4>Blocus Assisté</h4>
                <ul class="list-unstyled plan-detail-list">
                  <p>En période de blocus, nous t’offrons un cadre de travail studieux avec la possibilité de travailler jusqu'à 10h par jour. Une équipe de professeurs est présente pour répondre à toutes tes questions. Fort de notre expérience, nous mettons tout en place pour que tu puisses réaliser ton blocus dans les meilleures conditions.</p>
                </ul>
                <a href="{% url 'blocus-assistes' %}" class="btn btn-primary btn-space">En savoir plus</a>
                <a href="{% url 'inscription_blocus' %}" class="btn btn-primary m-5">Inscription</a>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-rocket plan-icon"></i>
                <h4>Suivi intensif</h4>
                <ul class="list-unstyled plan-detail-list">
                  <p>Tu es suivi par l’un de nos coachs régulièrement et sur l’ensemble de tes cours. Vous fixez ensemble les objectifs à atteindre chaque semaine et les moyens d’y arriver. Le programme est entièrement modulable en fonction de tes besoins et des éventuelles difficultés que tu pourrais rencontrer</p>
                </ul>
                <a href="{% url 'accueil-suivi-intensif' %}" class="btn btn-primary btn-space">En savoir plus</a>
                <a href="{% url 'accueil-suivi-intensif' %}" class="btn btn-primary m-5">Inscription</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
        <div class="multiple-pricing-table">
            <div class="col-md-12 col-sm-12">
              <div class="pricing-item">
                <i class="fa fa-bicycle plan-icon"></i>
                <h4>Module de Biomécanique</h4>
                <ul class="list-unstyled plan-detail-list">
                  <p><i>Ce cours s’adresse exclusivement aux étudiants de BA1 à l’UCL qui doivent présenter le cours de Biomécanique à la FSM.</i><br> En 3 jours, tout le cours est revu depuis la base jusqu’aux exercices les plus compliqués. Le module se termine par la résolution d’anciens examens Le professeur connait parfaitement ce cours et il prendra le temps pour que tu comprennes entièrement la matière et les méthodes de résolution.</p>
                </ul>
                <button type="button" class="btn btn-primary btn-space">En savoir plus</button>
                <button type="button" class="btn btn-primary m-5">Inscription</button>
              </div>
            </div>
        </div>
        </div>
      </div>
    </section>
    <!-- END INTRO -->

    <!-- Nos professeurs -->
    <section class="light-gray">
      <div class="container">
        <h2 class="section-heading">MEET OUR TEAM</h2>
        <!-- TEAM -->
        <section class="team">
          <div class="section-content">
            <p>L’équipe de Blocus Assistance est composée de jeunes professeurs expérimentés. Chaque professeur est spécialisé dans une ou plusieurs matières et est formé par nos soins. Ils sont sélectionnés pour leurs compétences et pour leurs qualités pédagogiques. Ils connaissent les attentes des professeurs et les pièges à éviter lors des examens.</p><br><br>
            <div class="row flex">
              <div class="col-md-7">
                          <div class="col-md-12">
                            <div class="team-member media">
                              <img src="{% static 'img/team/person1.png' %}" class="media-object img-circle pull-left" alt="" />
                              <div class="media-body">
                                <h3 class="media-heading team-name">Antoine</h3>
                                <strong>Solvay Business School</strong>
                                <hr class="pull-left">
                                <div class="clearfix"></div>
                                  <p>10+ Blocus Assisté, 100+ Cours particuliers<br>
                                  Math, Stat, Proba, Compta</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="team-member media">
                              <img src="{% static 'img/team/person2.png' %}" class="media-object img-circle pull-left" alt="" />
                              <div class="media-body">
                                <h3 class="media-heading team-name">David</h3>
                                <strong>Ecole polytechnique de l'ULB</strong>
                                <hr class="pull-left">
                                <div class="clearfix"></div>
                                  <p>10+ Blocus Assisté, 100+ Cours particuliers<br>
                                  Math, Stat, Proba, Compta</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="team-member media">
                              <img src="{% static 'img/team/person3.png' %}" class="media-object img-circle pull-left" alt="" />
                              <div class="media-body">
                                <h3 class="media-heading team-name">Pierre</h3>
                                <strong>Ecole polytechnique de l'UCL</strong>
                                <hr class="pull-left">
                                <div class="clearfix"></div>
                                  <p>10+ Blocus Assisté, 100+ Cours particuliers<br>
                                  Math, Stat, Proba, Compta</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="team-member media text-center">
                            <a>Voir tous nos professeurs</a>
                          </div>
                          </div>
              </div>
              <div class="col-md-5 text-center">
                <img src="{% static 'img/intro-img.png' %}" class="img-responsive" alt="Image Intro">
                  <div class="col-xs-12" id="div-join-team">
                  <button type="button" class="btn btn-rounded-2x btn-primary btn-lg" id="btn-join-team">Rejoindre notre équipe</button>
                  </div>
            </div>
          </div>
        </section>
        <!-- END TEAM -->
    </section>
    <!-- END Nos professeurs -->


    <!-- Nos outils-->
    <section>
      <div class="container">
        <h2 class="section-heading">Nos outils</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="boxed-content left-aligned">
                  <i class="fa fa-flag text-body-color"></i>
                  <h2 class="boxed-content-title">Planning en ligne</h2>
                  <p>Sur base des dates de tes examens, du début de ton blocus et de ton appréciation personnelle de chacun de tes cours, nous te proposons un planning automatique que tu pourras ensuite modifier à ta guise.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="boxed-content left-aligned">
                  <i class="fa fa-globe text-body-color"></i>
                  <h2 class="boxed-content-title">Base de données d'exercices</h2>
                  <p>Nous disposons de nombreux exercices supplémentaires et de leurs corrigés. Cette base de données est constament mise à jour. Nous pouvons ainsi te proposer des examens blancs du même niveau que celui pour lequel tu te prépares.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="boxed-content left-aligned">
                  <i class="fa fa-cog text-body-color"></i>
                  <h2 class="boxed-content-title">Plateformes en ligne</h2>
                  <p>Que tu sois professeur ou étudiant, tu dispose d'une plateforme personnalisée sur notre site pour consulter tes plannings, tes rapports, tes statistiques et bien d'autres choses encore.</p>
                </div>
              </div>
            </div>
            <!-- END LEFT-ALIGNED ICON -->
      </div>
    </section>
    <!-- END Nos outils -->

    <!-- NUMBERS -->
    <section class="full-width-section no-margin">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="number-info horizontal text-white-color">
              <i class="fa fa-plug pull-left"></i>
              <p>2721 <span>ETUDIANTS</span></p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="number-info horizontal text-white-color">
              <i class="fa fa-cubes pull-left"></i>
              <p>82 <span>PROFESSEURS</span></p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="number-info horizontal text-white-color">
              <i class="fa fa-thumbs-up pull-left"></i>
              <p>2700 <span>APPRECIATIONS</span></p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="number-info horizontal text-white-color">
              <i class="fa fa-users pull-left"></i>
              <p>81% <span>REUSSITE</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END NUMBERS -->

    <!-- OUR CLIENTS -->
    <section class="clients">
      <div class="container">
        <h2 class="section-heading">Ils parlent de nous...</h2>
        <div class="col-xs-12">
          <div class="custom-card">
            <h3 class="custom-card-header">Témoignages</h3>
            <section class="testimonial slick-carousel">
              <div class="testimonial-container">
                <div class="testimonial-body">
                  <p>Blocus Assistance m'a appris à mieux structurer mon horaire et à mieux appréhender ma matière! Je le conseille à tout élève de 1ère ayant des difficultés.</p>
                  <div class="testimonial-author">
                    <img src="assets/img/user2.png" alt="Author" class="pull-left">
                    <span><span class="author-name">Arthur</span> <em>Ingénieur de gestion BA2</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <p>Je participe au blocus assistance depuis maintenant 2 ans et cela me permet de mieux structurer mon travail et d'avancer plus rapidement dans la matière car les assistants présents connaissent ma matière et répondent donc vite et efficacement à mes questions! Je recommande donc fortement!</p>
                  <div class="testimonial-author">
                    <img src="assets/img/user1.png" alt="Author" class="pull-left">
                    <span><span class="author-name">Sam</span> <em>Ingénieur de gestion BA2</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <p>J'ai découvert Blocus Assistance l'an dernier et ça m'a réellement aidé. Les résultats de mes examens étaient bien meilleurs que ceux des années antérieures</p>
                  <div class="testimonial-author">
                    <img src="assets/img/user5.png" alt="Author" class="pull-left">
                    <span><span class="author-name">Juliette</span> <em>IHECS BA3</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <p>Un de mes amis m'a conseillé Blocus assistance et j'en suis très contente! Premièrement c'est le meilleur rapport qualité/ prix que j'ai trouvé. Deuxièmement les profs qui nous aidaient nous expliquaient entièrement tout ce qu'ils faisaient et s'assuraient que l'on avait bien tout compris car cela est très important pour la Défense orale du projet. Finalement il y avaient une chouette ambiance de travail durant ces longues heures de codages. J'ai finalement réussi mon projet avec 15/20, ce qui m'a donc évité la seconde sess!</p>
                  <div class="testimonial-author">
                    <img src="assets/img/user1.png" alt="Author" class="pull-left">
                    <span><span class="author-name">Valentine</span> <em>Ingénieur de gestion BA2</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <p>Je fais tous mes blocus avec blocus assistance depuis que je suis à l'université, j'étudie le droit et le cadre studieux me permet de rester concentrée toute la journée puis de rentrer chez moi avec 8h complètes d'études par jour et en plus pleins de nouvelles rencontres, les pauses sont agréables et nous permettent de décompresser un maximum!</p>
                  <div class="testimonial-author">
                    <img src="assets/img/user1.png" alt="Author" class="pull-left">
                    <span><span class="author-name">Elisabeth</span> <em>Droit BA3</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <p>Ce qui est pratique chez Blocus Assistance, c'est que les professeurs qui sont là ont fait les mêmes études que nous. Donc ils ont déjà vu la matière et savent parfaitement ce que les professeurs attendent de nous. Après, il y a l'encadrement. Quand on est distrait, on voit tout le monde qui travaille autour de nous donc on se reconcentre tout de suite.</p>
                  <div class="testimonial-author">
                    <img src="assets/img/user1.png" alt="Author" class="pull-left">
                    <span><span class="author-name">Louis</span> <em>ECAM BA2</em></span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="custom-card">
            <h3 class="custom-card-header">Presse</h3>
            <section class="testimonial slick-carousel">
              <div class="testimonial-container">
                <div class="testimonial-body testimonial-press">
                  <!-- BOXED CONTENT -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/pigeons.jpg' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="https://www.rtbf.be/auvio/detail_blocus-etudiant-au-monastere-notre-dame-d-hurtebise-a-saint-hubert?id=2217631" target="new">On n'est pas des pigeons !</a></h2>
                        <p>"Vous avez raison, jusque là en tout cas, vous êtes les moins chers !"
                        <br><a href="https://www.rtbf.be/auvio/detail_blocus-etudiant-au-monastere-notre-dame-d-hurtebise-a-saint-hubert?id=2217631" target="new">Voir la vidéo</a></p>

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/RTLInfo.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="https://www.rtl.be/info/belgique/societe/le-blocus-assiste-a-de-plus-en-plus-de-succes-j-ai-essaye-dans-un-monastere-une-bibliotheque-mais-c-est-ici-que-j-etudie-le-mieux--839368.aspx" target="new">RTL Info</a></h2>
                        <p>"Du coup, ici, on a des assistants qui nous permettent de nous motiver, de nous pousser à étudier."
                        <br><a href="https://www.rtl.be/info/belgique/societe/le-blocus-assiste-a-de-plus-en-plus-de-succes-j-ai-essaye-dans-un-monastere-une-bibliotheque-mais-c-est-ici-que-j-etudie-le-mieux--839368.aspx" target="new">Voir la vidéo</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/pure.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="https://www.rtbf.be/auvio/detail_snooze-blocus-assistance-est-le-label-snooze?id=2212286" target="new">Pure</a></h2>
                        <p>"C’est  assez chouette ! C’est conviviale, c’est un peu comme s’ils étaient à la maison en fait."
                        <br><a href="https://www.rtbf.be/auvio/detail_snooze-blocus-assistance-est-le-label-snooze?id=2212286" target="new">Voir la vidéo</a></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/BX1.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="http://bx1.be/news/les-etudiants-en-pleine-preparation-pour-les-examens-ils-peuvent-beneficier-dun-blocus-assiste/" target="new">BX1</a></h2>
                        <p>"Ici, il y a des profs à disposition, ce qui me permet de gagner du temps quand j’ai une question."
                        <br><a href="http://bx1.be/news/les-etudiants-en-pleine-preparation-pour-les-examens-ils-peuvent-beneficier-dun-blocus-assiste/" target="new">Voir la vidéo</a></p>
                      </div>
                    </div>
                  </div>
                  <!-- END BOXED CONTENT -->
                </div>
                <div class="testimonial-body testimonial-press">
                 <!-- BOXED CONTENT -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/Trends.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title">Trends-Tendances</h2>
                        <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/LaLibre.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="http://www.lalibre.be/economie/libre-entreprise/blocus-assiste-le-cout-de-la-reussite-infographie-591d8277cd70022542e4d7da" target="new">La Libre</a></h2>
                        <p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.
                        <br><a href="http://www.lalibre.be/economie/libre-entreprise/blocus-assiste-le-cout-de-la-reussite-infographie-591d8277cd70022542e4d7da" target="new">Lire l'article</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/tvcom.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="http://www.tvcom.be/video/info/l-invite-pierre-boonen-blocus-assistance-_19899_300.html" target="new">TVCom</a></h2>
                        <p>"Blocus Assistance aide les étudiants à affronter leur blocus."
                        <br><a href="http://www.tvcom.be/video/info/l-invite-pierre-boonen-blocus-assistance-_19899_300.html" target="new">Voir la vidéo</a></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/gael.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="https://www.gael.be/lifestyle/une-sessions-dexamens-plus-sereine" target="new">GAEL</a></h2>
                        <p>"Des profs qui sont issus des mêmes auditoires que les étudiants et qui savent donc pertinemment comment réussir un examen."
                        <br><a href="https://www.gael.be/lifestyle/une-sessions-dexamens-plus-sereine" target="new">Lire l'article</a></p>
                      </div>
                    </div>
                  </div>
                  <!-- END BOXED CONTENT -->
                </div>
                <div class="testimonial-body testimonial-press">
                  <!-- BOXED CONTENT -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/lapremiere.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="https://www.rtbf.be/info/regions/bruxelles/detail_allier-sport-et-etude-pour-mieux-vivre-son-blocus-de-fin-d-annee?id=9491436" target="new">La Première</a></h2>
                        <p>"Ce jour là, à 18 heures, changement d'ambiance. Les étudiants s'essayent à la boxe."
                        <br><a href="https://www.rtbf.be/info/regions/bruxelles/detail_allier-sport-et-etude-pour-mieux-vivre-son-blocus-de-fin-d-annee?id=9491436" target="new">Lire l'article</a></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/vivacite.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="https://www.rtbf.be/vivacite/article/detail_comment-reussir-ses-examens?id=9600300" target="new">VivaCité</a></h2>
                        <p>"Ils se différencient des grands acteurs du marché par une approche personnalisée, un contenu académique sur mesure et centralisé et de jeunes profs conscients des défis universitaires."
                        <br><a href="https://www.rtbf.be/vivacite/article/detail_comment-reussir-ses-examens?id=9600300" target="new">Lire l'article</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/LaCapitale.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="http://www.lacapitale.be/84260/article/2017-05-19/blocus-assistance-commence-des-ce-samedi" target="new">La Capitale</a></h2>
                        <p>"Le point fort, c'est la vitesse à laquelle on trouve une réponse à notre question."
                        <br><a href="http://www.lacapitale.be/84260/article/2017-05-19/blocus-assistance-commence-des-ce-samedi" target="new">Lire l'article</a></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/lavenir.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="http://www.lavenir.net/cnt/dmf20170526_01010612/blocus-assistance-deux-facons-d-aider" target="new">L' Avenir</a></h2>
                        <p>"On établit un planning précis, on vérifie si les cours sont en ordre, etc. Le but étant de pouvoir assurer un suivi le plus personnalisé possible."
                        <br><a href="http://www.lavenir.net/cnt/dmf20170526_01010612/blocus-assistance-deux-facons-d-aider" target="new">Lire l'article</a></p>
                      </div>
                    </div>
                  </div>
                  <!-- END BOXED CONTENT -->
                </div>
                <div class="testimonial-body testimonial-press">
                 <!-- BOXED CONTENT -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/bazar.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title"><a href="https://www.bazarmagazin.com/art/unif-blocus-assistance-conference-experts#.WmCb9FSdVTZ" target="new">BAZAR Magazin</a></h2>
                        <p>"Etudes supérieures, le choix d’une vie ? Etudiant, parent, enseignant, chacun son rôle."
                        <br><a href="https://www.bazarmagazin.com/art/unif-blocus-assistance-conference-experts#.WmCb9FSdVTZ" target="new">Lire l'article</a></p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/NRJ.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title">NRJ</h2>
                        <p>"C'est génial comme concept, ça donne presque envie de retourner aux études"</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/lesoir.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title">Le Soir</h2>
                        <p>"Ils proposent une offre complète: les étudiants sont aidés avant et pendant leur blocus."</p>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="boxed-content left-aligned left-boxed-icon">
                        <img src="{% static 'img/press/radiocontact.png' %}" alt="Author" class="pull-left">
                        <h2 class="boxed-content-title">Radio Contact</h2>
                        <p>"L'ambiance familliale, c'est hyper important pour tenir le coup pendant le blocus !"</p>
                      </div>
                    </div>
                  </div>
                  <!-- END BOXED CONTENT -->
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <!-- END OUR CLIENTS -->
    <!-- CALL-TO-ACTION -->
    <section class="light-gray">
      <div class="container">
        <h2 class="section-heading">Actualités du blog</h2>
        <div class=" row blog-article flex-box">
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
        </div>
        <div class=" row blog-article no-border-top flex-box">
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
        </div>
        <div class=" row blog-article no-border-top  flex-box">
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
        </div>
      </div>
    </section>
    <!-- END CALL-TO-ACTION -->



{% endblock %}

