{% extends "base.html" %}
{% load static %}

{% block title %}
Bienvenue
{% endblock %}

{% block base_head %}

<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">

  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->
<link href="{% static 'css/welcome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/components.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}



    <!-- HERO SECTION  -->
    <section class="hero-unit-fullscreen">
      <div class="overlay"></div>
      <div class="flex-box">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-7">
              <h2 class="hero-heading">Blocus Assistance</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur corporis, accusamus dignissimos ex sapiente quis! Neque, ullam aperiam ipsa harum</p>
              <span class=""><a href="#about" class="btn btn-lg hero-button">LEARN MORE</a></span>
            </div>
            <div class="col-xs-12 col-md-5 form-welcome-page">
              <h2>Besoin d'informations?</h2>
              <input type="text">
              <input type="text">
              <input type="text">
            </div>
          </div>
        </div>

        <div class="col-xs-12 down-arrow">
          <a href="#about"><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </section>


    <!-- END HERO SECTION -->
    <!-- INTRO -->
    <section>
      <div class="container">
        <div class="multiple-pricing-table">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-bicycle plan-icon"></i>
                <h4>Cours particulier</h4>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>5 GB</strong> upload quota</li>
                  <li><strong>10 GB</strong> file storage</li>
                  <li><strong>Up to 2 Mbps</strong> download speed</li>
                  <li><strong>Professional support</strong></li>
                </ul>
                <button type="button" class="btn btn-primary btn-space">En savoir plus</button>
                <button type="button" class="btn btn-primary m-5">Inscription</button>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-car plan-icon"></i>
                <h4>Blocus Assisté</h4>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>20 GB</strong> upload quota</li>
                  <li><strong>100 GB</strong> file storage</li>
                  <li><strong>Exceptional</strong> download speed</li>
                  <li><strong>Professional support</strong></li>
                </ul>
                <button type="button" class="btn btn-primary btn-space">En savoir plus</button>
                <button type="button" class="btn btn-primary m-5">Inscription</button>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="pricing-item">
                <i class="fa fa-rocket plan-icon"></i>
                <h4>Suivi intensif</h4>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>Unlimited</strong> upload quota</li>
                  <li><strong>Unlimited</strong> file storage</li>
                  <li><strong>Exceptional</strong> download speed</li>
                  <li><strong>Priority professional support</strong></li>
                </ul>
                <button type="button" class="btn btn-primary btn-space">En savoir plus</button>
                <button type="button" class="btn btn-primary m-5">Inscription</button>
              </div>
            </div>
          </div>
        </div>
        <div class="multiple-pricing-table">
            <div class="col-md-12 col-sm-12">
              <div class="pricing-item">
                <i class="fa fa-bicycle plan-icon"></i>
                <h4>Module de Biomécanique</h4>
                <ul class="list-unstyled plan-detail-list">
                  <li><strong>5 GB</strong> upload quota</li>
                  <li><strong>10 GB</strong> file storage</li>
                  <li><strong>Up to 2 Mbps</strong> download speed</li>
                  <li><strong>Professional support</strong></li>
                </ul>
                <button type="button" class="btn btn-primary btn-space">En savoir plus</button>
                <button type="button" class="btn btn-primary m-5">Inscription</button>
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- END INTRO -->

    <!-- RECENT WORKS -->
    <section class="light-gray">
      <div class="container">
        <h2 class="section-heading pull-left">Notre équipe</h2>
        <a href="#" class="btn btn-primary pull-right">Espace prof</a>
        <div class="clearfix"></div>
        <div class="col-xs-12">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non libero, maxime suscipit laboriosam adipisci dolorum debitis voluptate sed nisi fugit? Suscipit repudiandae aliquid culpa, voluptate delectus totam optio, explicabo illo cumque, velit officia iusto natus odit nihil illum et ea quibusdam quisquam quam ex a vel laudantium laborum. Voluptate ratione ullam officia enim, pariatur veniam architecto impedit necessitatibus, eligendi maxime id ipsum. Architecto necessitatibus officiis aliquam, harum temporibus in qui adipisci quisquam! Facilis quidem fuga, iusto, sequi quisquam tempore expedita.
        </div>
        <br><br>
        <div class="grid col-xs-12">
          <div class="element">
            <div class="row">
              <div class="col-xs-3">
                <img src="{% static 'img/business-people.png' %}" width=100% alt="">
              </div>
              <div class="col-xs-9">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illo eveniet, ab id voluptates nemo! Facere adipisci nemo rem. Aperiam.
              </div>
            </div>
          </div>
          <div class="element">
            <div class="row">
              <div class="col-xs-3">
                <img src="{% static 'img/business-people.png' %}" width=100% alt="">
              </div>
              <div class="col-xs-9">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illo eveniet, ab id voluptates nemo! Facere adipisci nemo rem. Aperiam.
              </div>
            </div>
          </div>
          <div class="element">
            <div class="row">
              <div class="col-xs-3">
                <img src="{% static 'img/business-people.png' %}" width=100% alt="">
              </div>
              <div class="col-xs-9">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque illo eveniet, ab id voluptates nemo! Facere adipisci nemo rem. Aperiam.
              </div>
            </div>
          </div>
          <div class="main-picture-team">
            <img src="{% static 'img/business-people.png' %}" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 text-center">
            <button type="button" class="btn btn-primary m-5">Inscription</button>
          </div>
          <div class="col-xs-6 text-center mt-10">
            <button type="button" class="btn btn-primary m-5">Inscription</button>
          </div>
        </div>
      </div>
    </section>
    <!-- END RECENT WORKS -->


    <!-- LATEST NEWS -->
    <section>
      <div class="container">
        <h2 class="section-heading">Nos outils</h2>
        <div class="row">
          <div class="col-md-4">
            <img src="{% static 'img/business-people.png' %}" width=100% alt="">
          </div>
          <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolorem explicabo temporibus, iste aperiam voluptas minus non tempore porro consequuntur obcaecati eius nesciunt necessitatibus perferendis culpa. Unde suscipit error voluptatum dolorem debitis. Eveniet, ratione accusamus vel, soluta, aliquid iure excepturi voluptatibus repellendus cumque unde reiciendis debitis impedit est! Deserunt, explicabo, facere. Iusto deserunt fugiat praesentium repellat accusantium minima dolorum magnam mollitia pariatur recusandae delectus aliquam modi dolor voluptates, rerum voluptatem rem eaque, veritatis aliquid voluptate, saepe reprehenderit? Vitae harum aut accusamus nostrum blanditiis facere sequi dolor temporibus iste, voluptatum commodi fugit, ratione. Molestias veritatis necessitatibus facilis ducimus dolorem, dolor dolore.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END LATEST NEWS -->

    <!-- NUMBERS -->
    <section class="full-width-section no-margin">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="number-info horizontal text-white-color">
              <i class="fa fa-plug pull-left"></i>
              <p>2721 <span>ETUDIANTS</span></p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="number-info horizontal text-white-color">
              <i class="fa fa-cubes pull-left"></i>
              <p>82 <span>PROFESSEURS</span></p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="number-info horizontal text-white-color">
              <i class="fa fa-thumbs-up pull-left"></i>
              <p>2700 <span>APPRECIATIONS</span></p>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6">
            <div class="number-info horizontal text-white-color">
              <i class="fa fa-users pull-left"></i>
              <p>81% <span>REUSSITE</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END NUMBERS -->

    <!-- OUR CLIENTS -->
    <section class="clients">
      <div class="container">
        <h2 class="section-heading">Ils parlent de nous...</h2>
        <div class="col-xs-12">
          <div class="custom-card">
            <h3 class="custom-card-header">Témoignages</h3>
            <section class="testimonial testimonial-fancy slick-carousel padding-slick-caroussel">
              <div class="testimonial-container">
                <div class="testimonial-body">
                  <i class="fa fa-quote-left"></i>
                  <p class="testimonial-bubble">Credibly extend parallel relationships after clicks-and-mortar content. Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
                  <div class="testimonial-author">
                    <img src="{% static 'img/business-people.png' %}" alt="Author" class="pull-left">
                    <span><span class="author-name">Antonius</span> <em>CEO of TheCompany</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <i class="fa fa-quote-left"></i>
                  <p class="testimonial-bubble">Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
                  <div class="testimonial-author">
                    <img src="{% static 'img/business-people.png' %}" alt="Author" class="pull-left">
                    <span><span class="author-name">Michael</span> <em>General Manager of DreamCorp</em></span>
                  </div>
                </div>
                <div class="testimonial-body">
                  <i class="fa fa-quote-left"></i>
                  <p class="testimonial-bubble">Appropriately morph low-risk high-yield process improvements through progressive partnerships. Uniquely brand enabled. Globally network timely imperatives without plug-and-play schemas. Globally coordinate economically sound interfaces.</p>
                  <div class="testimonial-author">
                    <img src="{% static 'img/business-people.png' %}" alt="Author" class="pull-left">
                    <span><span class="author-name">Palmer</span> <em>Freelance Web Developer</em></span>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="custom-card">
            <h3 class="custom-card-header">Presse</h3>
            <section class="recent-works slick-carousel padding-slick-caroussel">
                <div class="portfolio-container">
                  <div class="portfolio-item">
                    <div class="overlay"></div>
                    <div class="info">
                      <h4 class="title">Raining</h4>
                      <p class="brief-description">Photography</p>
                      <a href="#" class="btn">read more</a>
                    </div>
                    <div class="media-wrapper">
                      <img src="{% static 'img/business-people.png' %}" alt="Item Thumbnail" />
                    </div>
                  </div>
                  <div class="portfolio-item">
                    <div class="overlay"></div>
                    <div class="info">
                      <h4 class="title">Perfect Edge</h4>
                      <p class="brief-description">Product Design</p>
                      <a href="#" class="btn">read more</a>
                    </div>
                    <div class="media-wrapper">
                      <img src="{% static 'img/business-people.png' %}" alt="Item Thumbnail" />
                    </div>
                  </div>
                  <div class="portfolio-item">
                    <div class="overlay"></div>
                    <div class="info">
                      <h4 class="title">Sunny Day</h4>
                      <p class="brief-description">Story</p>
                      <a href="#" class="btn">read more</a>
                    </div>
                    <div class="media-wrapper">
                      <img src="{% static 'img/business-people.png' %}" alt="Item Thumbnail" />
                    </div>
                  </div>
                  <div class="portfolio-item">
                    <div class="overlay"></div>
                    <div class="info">
                      <h4 class="title">Rainy Day</h4>
                      <p class="brief-description">Photography</p>
                      <a href="#" class="btn">read more</a>
                    </div>
                    <div class="media-wrapper">
                      <img src="{% static 'img/business-people.png' %}" alt="Item Thumbnail" />
                    </div>
                  </div>
                  <div class="portfolio-item">
                    <div class="overlay"></div>
                    <div class="info">
                      <h4 class="title">Water Everywhere</h4>
                      <p class="brief-description">Story</p>
                      <a href="#" class="btn">read more</a>
                    </div>
                    <div class="media-wrapper">
                      <img src="{% static 'img/business-people.png' %}" alt="Item Thumbnail" />
                    </div>
                  </div>
                </div>
            </section>
          </div>
        </div>
      </div>
    </section>
    <!-- END OUR CLIENTS -->
    <!-- CALL-TO-ACTION -->
    <section class="light-gray">
      <div class="container">
        <h2 class="section-heading">Actualités du blog...</h2>
        <div class=" row blog-article blog-article-right">
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
        </div>
        <div class=" row blog-article blog-article-right no-border-top">
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
        </div>
        <div class=" row blog-article blog-article-right no-border-top">
          <div class="col-xs-12 col-md-4 no-padding">
            <img src="{% static 'img/business-people.png' %}" width=100%>
          </div>
          <div class="col-xs-12 col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores soluta voluptatem distinctio officiis perferendis cupiditate quas eum obcaecati maiores ex tenetur vel, consectetur placeat modi porro odio ad, recusandae facere quibusdam, aut deserunt facilis consequatur? Similique excepturi explicabo corporis sit necessitatibus cum, libero suscipit sed reprehenderit, dolor, tempora consectetur, molestias.</p>
            <a href="">Lire l'article</a>
          </div>
        </div>
      </div>
    </section>
    <!-- END CALL-TO-ACTION -->


    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- COLUMN 1 -->
            <h3 class="sr-only">ABOUT US</h3>
            <img src="assets/img/logo/repute-logo-light.png" class="logo" alt="Repute">
            <p>Proactively aggregate B2B initiatives before extensive channels. Monotonectally extend interactive methods of empowerment through excellent applications. Rapidiously synergize visionary products with sticky technology.</p>
            <br>
            <address class="margin-bottom-30px">
              <ul class="list-unstyled">
                <li>1234 North Main Street
                  <br/> New York, NY 222222</li>
                <li>Phone: (1800) 765 - 4321</li>
                <li>Email: email@yourdomain.com</li>
              </ul>
            </address>
            <!-- END COLUMN 1 -->
          </div>
          <div class="col-md-4">
            <!-- COLUMN 2 -->
            <h3 class="footer-heading">USEFUL LINKS</h3>
            <div class="row margin-bottom-30px">
              <div class="col-xs-6">
                <ul class="list-unstyled footer-nav">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Community</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul class="list-unstyled footer-nav">
                  <li><a href="#">Press Kit</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <!-- END COLUMN 2 -->
          </div>
          <div class="col-md-4">
            <!-- COLUMN 3 -->
            <div class="newsletter">
              <h3 class="footer-heading">NEWSLETTER</h3>
              <p>Get the latest update from us by subscribing to our newsletter.</p>
              <form class="newsletter-form" method="POST">
                <div class="input-group input-group-lg">
                  <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                  <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
                  </span>
                </div>
                <div class="alert"></div>
              </form>
            </div>
            <div class="social-connect">
              <h3 class="footer-heading">GET CONNECTED</h3>
              <ul class="list-inline social-icons">
                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
            <!-- END COLUMN 3 -->
          </div>
        </div>
      </div>
      <!-- COPYRIGHT -->
      <div class="text-center copyright">
        &copy;2016 The Develovers. All Rights Reserved.
      </div>
      <!-- END COPYRIGHT -->
    </footer>
    <!-- END FOOTER -->

{% endblock %}

