h1{
  color:blue;
}

.container-alert-flash{
  position:absolute;
  top:10px;
  z-index: 50000;
  width:100%;
  right:0%;
  margin:0px;
}

.hidden-radio-field {
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

form.signup .hidden-radio-btn > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
form.signup .hidden-radio-btn > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
form.signup .hidden-radio-btn > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.hidden-radio-btn {
  margin: 0px 40px;
}
