    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- COLUMN 1 -->
            <h3 class="sr-only">ABOUT US</h3>
            <img src="assets/img/logo/repute-logo-light.png" class="logo" alt="Repute">
            <p>Proactively aggregate B2B initiatives before extensive channels. Monotonectally extend interactive methods of empowerment through excellent applications. Rapidiously synergize visionary products with sticky technology.</p>
            <br>
            <address class="margin-bottom-30px">
              <ul class="list-unstyled">
                <li>Rue Armand Campenhout, 4
                  <br/> Ixelles, 1050</li>
                <li>GSM: 0472 / 71 43 02</li>
                <li>Email: info@blocusassistance.be</li>
              </ul>
            </address>
            <!-- END COLUMN 1 -->
          </div>
          <div class="col-md-4">
            <!-- COLUMN 2 -->
            <h3 class="footer-heading">LIENS UTILES</h3>
            <div class="row margin-bottom-30px">
              <div class="col-xs-6">
                <ul class="list-unstyled footer-nav">
                  <li><a href="{% url 'a-propos' %}">A propos</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Community</a></li>
                  <li><a href="#">Postuler</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div>
              <div class="col-xs-6">
                <ul class="list-unstyled footer-nav">
                  <li><a href="#">Presse</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="{% url 'conditions-generales' %}">Conditions générales</a></li>
                  <li><a href="{% url 'politique-confidentialite' %}">Politique de confidentialité</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </div>
            </div>
            <!-- END COLUMN 2 -->
          </div>
          <div class="col-md-4">
            <!-- COLUMN 3 -->
            <div class="newsletter">
              <h3 class="footer-heading">NEWSLETTER</h3>
              <p>Soyez tenus au courant de nos offres et de nos dernières mises à jour.</p>
              <form class="newsletter-form" method="POST">
                <div class="input-group input-group-lg">
                  <input type="email" class="form-control" name="email" placeholder="votreadresse@domain.com">
                  <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>ETRE INFORME</span></button>
                  </span>
                </div>
                <div class="alert"></div>
              </form>
            </div>
            <div class="social-connect">
              <h3 class="footer-heading">RESTEZ CONNECTES</h3>
              <ul class="list-inline social-icons">
                <li><a href="https://www.facebook.com/blocusassistance/" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="googleplus-bg"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
            <!-- END COLUMN 3 -->
          </div>
        </div>
      </div>
      <!-- COPYRIGHT -->
      <div class="text-center copyright">
        &copy;2016 The Develovers. All Rights Reserved.
      </div>
      <!-- END COPYRIGHT -->
    </footer>
    <!-- END FOOTER -->
