{% load static %}

{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}

{% url 'account:home' as account_url %}
{% url 'cart:home' as cart_url %}

<!-- NAVBAR -->
    <nav class="navbar navbar-toggleable-md navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle Navigation</span>
            <i class="fa fa-bars"></i>
          </button>
          <a href="{% url 'welcome' %}" class="navbar-brand navbar-logo">
            <img src="{% static 'img/logo/blocus-assistance-logo-nav.png' %}" alt="Blocus Assistance">
          </a>
        </div>
        <!-- MAIN NAVIGATION -->
        <div id="main-nav" class="navbar-collapse collapse navbar-mega-menu">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos solutions <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'blocus-assistes' %}">Blocus assisté</a></li>
                <li><a href="{% url 'accueil-cours-particuliers' %}">Cours particuliers</a></li>
                <li><a href="{% url 'accueil-suivi-intensif' %}">Suivi intensif</a></li>
                <li><a href="#">Module Biomécanique</a></li>
                <li><a href="#">Module Informatique</a></li>
              </ul>
            </li>
            <li>
              <a href="{% url 'accueil-prof' %}">Professeurs</a>
            </li>
            <li>
              <a href="{% url 'outils-methodes' %}">Nos outils</a>
            </li>
            <li>
              <a href="https://blog.blocusassistance.be/">Blog</a>
            </li>
            <li>
              <a href="{% url 'contact' %}">Contact</a>
            </li>
            <li>
              <a href="{{ login_url }}">Log In</a>
            </li>
            <li class="dropdown ">
              <a href="#" class="btn btn-primary dropdown-toggle withe-txt" data-toggle="dropdown">INSCRIPTION <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'inscription_blocus' %}">Blocus assisté</a></li>
                <li><a href="#">Cours particuliers</a></li>
                <li><a href="#">Suivi intensif</a></li>
                <li><a href="#">Module Biomécanique</a></li>
                <li><a href="#">Module Informatique</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- END MAIN NAVIGATION -->
      </div>
    </nav>
    <!-- END NAVBAR -->
