{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block base_head %}
<link rel='stylesheet' href="{% static 'css/main.css' %}" >

<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">

  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->

{% endblock %}

{% block content %}
<h1>{% trans "Créer un compte" %}</h1>

{% load socialaccount %}
{% providers_media_js %}
<a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}


<!-- Start statut images (Jquery) -->
<div class="form-group" id="div_id_username">
  <label class="control-label requiredField" for="id_username">
      Statut<span class="asteriskField">*</span>
  </label>
  <div class="controls ">
    <label class="hidden-radio-btn text-center">
      <input type="radio" name="statut" value="etudiant" checked />
      <img src="{% static 'img/student.png' %}" width="100">
      <p>Etudiant</p>
    </label>

    <label class="hidden-radio-btn text-center">
      <input type="radio" name="statut" value="parent"/>
      <img src="{% static 'img/parent.png' %}"  width="100">
      <p>Parent</p>
    </label>

    <label class="hidden-radio-btn text-center">
      <input id="fb3" type="radio" name="statut" value="professeur" />
      <img src="{% static 'img/teacher.png' %}"  width="100">
      <p>Professeur</p>
    </label>
  </div>
</div>
<!-- END statut images-->

  {% crispy form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-success" >{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}


<script type="text/javascript">

{% block javascript %}

function changeSelectStatut(){
    var statut = $('input[name="statut"]:checked', '#signup_form').val();
    if (statut == 'etudiant') {
      $("div#div_id_statut select").val("etudiants");
    }
    else if (statut == 'parent'){
      $("div#div_id_statut select").val("parents");
    }
    else if (statut == 'professeur'){
      $("div#div_id_statut select").val("professeurs");
    }
}

changeSelectStatut();
$(".hidden-radio-btn").click(function(){
  changeSelectStatut();
});
{% endblock %}
</script>
