{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Détail du blocus {{ blocus.nom }}
{% endblock %}

{% block base_head %}
<link rel='stylesheet' href="{% static 'css/main.css' %}" >

<link rel='stylesheet' href="{% static 'css/welcome.css' %}" >
<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">

  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->

{% endblock %}

{% block content %}
  <div class="light-gray">
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left">Présences - </h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'accueil-prof' %}"">Accueil Professeur</a></li>
          <li><a href="{% url 'tableau-de-bord-professeurs' %}">Mon dashboard</a></li>
          <li class="active">Présences - </li>
        </ol>
      </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- PAGE CONTENT -->
    <div class="page-content light-gray">
      <div class="container">
        <section">
          <div class="row">
          <h2>Grille de suivi des étudiant -  {{ module }} ({{ campus }})</h2>

{% if inscriptions|length == 0 %}
  <p>Aucun étudiant ne souhaite bénéficier d'un suivi? Ou tu as oublié de <a href="{% url 'display-list-student' pk_campus=campus.pk pk_module=module.pk %}">compléter leur profil</a> en indiquant ceux qui souhaitent (ou non) bénéficier d'un suivi?</p>
{% else %}

<div class="col-xs-12 col-md-12">
  <table class="table col-md-3">
    <tr>
      <td class="danger text-center col-md-3"><b>Objectif à fixer</b></td>
      <td class="warning text-center col-md-3"><b>Bilan à réaliser</b></td>
      <td class="success text-center col-md-3"><b>Bilan réalisé</b></td>
      <td class="info text-center col-md-3"><b>Envoyé</b></td>
    </tr>
  </table>
</div>



<form method="post" action="/blocus-assistes/grille-suivi-etudiants/1/37">
  {% csrf_token %}
<table class="table table-bordered">
    <thead>
      <tr>
        <th class="col-md-3 text-center"></th>
            {% for jour in joursblocus %}
              <th class="col-md-1 text-center" style="line-height: 80%;">{{jour.get_name}}</th>
            {% endfor %}
            <th class="col-md-1  text-center">Envoyé rapport final</th>
      </tr>
    </thead>
    <tbody>
      {% for inscrit in inscriptions %}
      <tr>
          <td class="col-md-3 center">{{forloop.counter}}. <a href="{% url 'voir-profil-etudiant-for-prof' pk=inscrit.etudiant.pk %}">{{ inscrit.etudiant.prenom }} {{ inscrit.etudiant.nom }} ({{ inscrit.etudiant.faculte }} - {{ inscrit.etudiant.annee }})</a></td>
            {% for jour in joursblocus %}
            {% for presence in inscrit.etudiant.presence_set.all %}
              {% if presence.etudiant.id == inscrit.etudiant.id and presence.date == jour.date and presence.etudiant %}

                  {% if presence.rapportblocusjournalier.statut == 'objectif_fixe' %}
                  <td class="col-md-1 text-center warning" style="line-height: 80%;">
                      <a href="{% url 'display-rapport-journalier' pk=presence.rapportblocusjournalier.pk %}">Voir</a> -
                      <a href="{% url 'modifier-suivi-journalier' pk=presence.rapportblocusjournalier.pk %}">Bilan</a>
                  </td>
                  {% elif presence.rapportblocusjournalier.statut == 'bilan_realise' %}
                  <td class="col-md-1 text-center success" style="line-height: 80%;">
                      <a href="{% url 'display-rapport-journalier' pk=presence.rapportblocusjournalier.pk %}">Voir</a> -
                      <a href="{% url 'modifier-suivi-journalier' pk=presence.rapportblocusjournalier.pk %}">Bilan</a> <br>
                      {% if presence.statut == 'retard' or presence.statut == 'present' %}
                        <a href="{% url 'send-rapport-journalier' pk=presence.rapportblocusjournalier.pk %}" class="btn btn-default"><i class="fa fa-send"></i></a>
                      {% else %}
                        (Absent)
                      {% endif %}
                  </td>
                  {% elif presence.rapportblocusjournalier.statut == 'rapport_envoye' %}
                  <td class="col-md-1 text-center info" style="line-height: 80%;">
                      <a href="{% url 'display-rapport-journalier' pk=presence.rapportblocusjournalier.pk %}">Voir</a> -
                      <a href="{% url 'modifier-suivi-journalier' pk=presence.rapportblocusjournalier.pk %}">Bilan</a>
                  </td>
                  {% else %}
                  <td class="col-md-1 text-center danger" style="line-height: 80%;">
                      <a href="{% url 'suivi-journalier-blocus' pk=presence.pk %}?module={{ module.id }}">Fixer objectif</a>
                  </td>
                  {% endif %}

              {% endif %}
        {% endfor %}
        {% endfor %}
                  <td class="text-center">
                  {% if today == module.date_fin %}
                    <a class="btn btn-primary" href="{% url 'send-rapport-module' pk_module=module.pk pk_etudiant=inscrit.etudiant.pk %}">Envoyer</a>
                  {% endif %}
                  <a href="{% url 'display-rapport-module' pk_module=module.pk pk_etudiant=inscrit.etudiant.pk %}">Voir</a>
                  </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  </form>
  <a href="{% url 'detail-blocus' pk=module.blocus.pk %}">Retour au dashboard</a>
          <h2></h2>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock %}




