{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Détail du blocus {{ blocus.nom }}
{% endblock %}

{% block base_head %}
<link rel='stylesheet' href="{% static 'css/main.css' %}" >

<link rel='stylesheet' href="{% static 'css/welcome.css' %}" >
<!--
  <meta name="description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.">

  <meta charset="utf-8" />
  <link rel="icon" href="https://dwj199mwkel52.cloudfront.net/assets/favicon-9e84d1cd6dffd89d572b8c6a542cadda0b2091f8fc65f9cc1f09f09ca363bb19.png" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://www.lewagon.com/fr" />
  <meta property="og:image" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg" />
  <meta property="og:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
" />
  <meta property="og:site_name" content="Le Wagon" />
  <meta property="fb:admins" content="548348576" />
  <meta property="fb:app_id" content="737501859652485" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@Lewagonparis">
  <meta name="twitter:title" content="Le Wagon - Formation Développeur Web - Coding Bootcamp Ruby on Rails">
  <meta name="twitter:description" content="Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.
">
  <meta name="twitter:creator" content="@Lewagonparis">
  <meta name="twitter:image:src" content="https://dwj199mwkel52.cloudfront.net/assets/social/home_facebook_card-c24af70e1ea78ec96cdf28f926fc76eb3ce3ecaf973042255492aa1de7727393.jpg">
!-->

{% endblock %}

{% block content %}
  <div class="light-gray">
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left">Liste des étudiants </h1>
        <ol class="breadcrumb">
          <li><a href="{% url 'accueil-prof' %}"">Accueil Professeur</a></li>
          <li><a href="{% url 'tableau-de-bord-professeurs' %}">Mon dashboard</a></li>
          <li class="active">Liste des étudiants </li>
        </ol>
      </div>
    </div>
    <!-- END BREADCRUMBS -->
    <!-- PAGE CONTENT -->
    <div class="page-content light-gray">
      <div class="container">
        <section">
          <div class="row">
          <h2>Premier jour -  {{ module }} ({{ campus }})</h2>
  <p>
    Le premier jour de chaque module, il faut s'assurer que :
    <ul>
      <li><b>Tous</b> les profils soient complétés (au minimum > 90%)</li>
      <li>Coché les étudiants qui désirent un suivi durant le blocus</li>
    </ul>
    Il suffit de cliquer sur le nom de l'étudiant pour modifier ces 2 paramètres
  </p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Etudiants</th>
        <th>Profil [% complété]</th>
        <th>Suivi ?</th>
      </tr>
    </thead>
    <tbody>
      {% for inscrit in inscriptions %}
      <tr>
          <td class="col-md-3 center">{{forloop.counter}}. <a target="_blank" href="{% url 'completer-profil-etudiant-for-prof' pk=inscrit.etudiant.pk %}?next_url={{ request.get_full_path }}">{% if inscrit.etudiant.photo_profil %} <img src="{{ inscrit.etudiant.photo_profil.url }}" width=100% class="mini-avatar">{% endif %}{{ inscrit.etudiant.prenom }} {{ inscrit.etudiant.nom }} ({{ inscrit.etudiant.faculte }} - {{ inscrit.etudiant.annee }})</a></td>
            <td class="col-md-5 text-center">
              <div class="progress">
                <div class="progress-bar
                  {% if inscrit.etudiant.calculate_completed_profile_rate < 60 %}
                    progress-bar-danger
                  {% elif inscrit.etudiant.calculate_completed_profile_rate > 90 and inscrit.etudiant.calculate_completed_profile_rate < 100 %}
                    progress-bar-info
                  {% elif inscrit.etudiant.calculate_completed_profile_rate == 100 %}progress-bar-success{% else %}
                    progress-bar-warning
                  {% endif %}" role="progressbar" aria-valuenow="{{ inscrit.etudiant.calculate_completed_profile_rate|floatformat:2 }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ inscrit.etudiant.calculate_completed_profile_rate|floatformat:2 }}%">
                  {{ inscrit.etudiant.calculate_completed_profile_rate|floatformat:2 }}%
                </div>
              </div>
            </td>
            {% if inscrit.etudiant.veut_un_suivi %}
              <td class="success">Oui</td>
            {% else %}
              <td class="danger">Non</td>
            {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'detail-blocus' pk=module.blocus.pk %}">Retour au dashboard</a>
          <h2></h2>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock %}
